<div class="card-header" data-ng-init="sectionCtrl.init()">
   <div class="row">
      <div class="col-md-6 col-sm-6">
         <div>
            <h2> Section
               <small class="hidden-xs">
                  <div class="grid-ellipsis ">Section-wise details of all classes</div>
               </small>
            </h2>
         </div>
      </div>
      <div class="col-md-5 col-sm-4">
         <md-input-container>
            <label>Search here</label>
           <input type="search" id="search" data-ng-model="search" data-ng-change="sectionCtrl.initDataTable()" autocomplete="off">
         </md-input-container>
      </div>
      <div class="col-md-1 col-sm-2">
         <md-button class="md-fab md-mini md-primary m-0" aria-label="add" 
            template-url="/app/section/views/create.html" form-modal
            m-title="Section" m-scope="sectionCtrl.mScope" form-submit="sectionCtrl.saveOrUpdateSection(mForm)" init-data="sectionCtrl.initData" ok-button-text="SUBMIT">
            <md-icon class="material-icons">+</md-icon>
            <md-tooltip>Add Section</md-tooltip>
         </md-button>
      </div>
   </div>
</div>
<div id="table-responsive" class="table-responsive content">
   <table id="sectionDataTable" class="display table" cellspacing="0"></table>
</div>