<div class="card-header" data-ng-init="instituteCtrl.init()">
   <div class="row">
      <div class="col-sm-6">
         <div>
            <h2>
               Institute
               <small class="hidden-xs">
                  <div class="grid-ellipsis ">Institute Details</div>
               </small>
            </h2>
         </div>
      </div>
      <div class="col-sm-5">
         <md-input-container>
            <label>Search here</label>
            <input type="search" id="search" data-ng-model="search" data-ng-change="instituteCtrl.init()">
         </md-input-container>
      </div>
      <div class="col-sm-1">
         <md-button class="md-fab md-mini md-primary" aria-label="add" template-url="/app/institute/views/create.html" form-modal
            m-title="Institute" m-Scope="instituteCtrl.mScope" form-submit="instituteCtrl.saveOrUpdateInstitute(mForm)" init-data="instituteCtrl.initData" ok-button-text="SUBMIT">
            <md-icon class="material-icons">+</md-icon>
            <md-tooltip>Add Institute</md-tooltip>
         </md-button>
      </div>
   </div>
</div>
<div id="table-responsive" class="table-responsive content">
   <table id="instituteDataTable" class="display table" cellspacing="0">
   </table>
</div>
