<div class="card-header" data-ng-init="examinationCtrl.init()">
   <div class="row">
      <div class="col-md-6 col-sm-6">
            <h2> Exam Schedule
               <small class="hidden-xs">
                  <div class="grid-ellipsis">Details of all Exam Schedule</div>
               </small>
            </h2>
      </div>
      <div class="col-md-5 col-sm-4">
         <md-input-container>
            <label>Search here</label>
            <input type="search" id="search" data-ng-model="search" data-ng-change="examinationCtrl.initDataTable()" autocomplete="off">
         </md-input-container>
      </div>
      <div class="col-md-1 col-sm-2">
         <md-button class="md-fab md-mini md-primary m-0" aria-label="add"  data-ng-if="examinationCtrl.role == 'ROLE_SUPER_ADMIN' || examinationCtrl.role == 'ROLE_ADMIN' || examinationCtrl.role == 'ROLE_STAFF' || examinationCtrl.role == 'ROLE_STAFF_HOD'"
            template-url="/app/examination/views/create.html" exam-form-modal
            m-title="Exam Schedule" m-scope="examinationCtrl.mScope" form-submit="examinationCtrl.saveOrUpdateExam(mForm)" init-data="examinationCtrl.initData" ok-button-text="SUBMIT" data-ng-click="examinationCtrl.mScope.examPapers=[];">
            <md-icon class="material-icons">+</md-icon>
            <md-tooltip>Add Exam Schedule</md-tooltip>
         </md-button>
      </div>
   </div>
</div>
<div id="table-responsive" class="table-responsive content">
   <table id="examinationDataTable" class="display table" cellspacing="0"></table>
</div>