<md-dialog-content class="card-header" >
   <div class="md-dialog-content">
	<md-input-container class="align-center required-mark">
		<label>Institute Name</label>
        <md-select name="institute" ng-model="mScope.mForm.institute.id" data-ng-required="true">
       		<md-option ng-value="institute.id" data-ng-repeat="institute in mScope.instituteList">{{::institute.instituteName}}</md-option>
        </md-select>
        <div data-ng-messages="modelForm.institute.$error" data-ng-if="modelForm.$submitted" class="has-error">
             <div data-ng-message="required"><small>Institute Name is required !</small></div>
    	</div>
    </md-input-container>

	<md-input-container flex class="required-mark"> 
		<label>SMS Gateway Api</label> 
		<input type="text" name="smsGatewayApi" data-ng-model="mScope.mForm.smsGatewayApi" data-ng-required="true" class="md-input" />
		<div data-ng-messages="modelForm.smsGatewayApi.$error"  data-ng-if="modelForm.ssmsGatewayApi.$touched || modelForm.$submitted"  class="has-error">
				<div data-ng-message="required"   class="help-block"><small>SMS Gateway API is required !</small></div>
			</div> 
	</md-input-container>
	<div class="row fluid" style="padding-left: initial;margin-left: -15px;">
		<label class="radio radio-inline m-r-20">Status</label>
		<md-radio-group ng-model="mScope.mForm.status"> <label
			class="radio radio-inline m-r-20"> <md-radio-button
				value="ACTIVE">Active</md-radio-button>
		</label> <label class="radio radio-inline m-r-20"> <md-radio-button
				value="INACTIVE">InActive</md-radio-button>
		</label> </md-radio-group>
	</div>
   </div>
</md-dialog-content>
