<div class="card-header" data-ng-init="staffCtrl.init()">
   <div class="row">
      <div class="col-md-6 col-sm-6">
         <div>
            <h2>
               Staff Details
               <small class="hidden-xs">
                  <div class="grid-ellipsis ">Details of all our Teaching/Non-Teaching Staff</div>
               </small>
            </h2>
         </div>
      </div>
      <div class="col-md-5 col-sm-4">
         <md-input-container>
            <label>Search here</label>
            <input type="search" id="search" data-ng-model="search" data-ng-change="staffCtrl.init()" autocomplete="off">
         </md-input-container>
      </div>
      <div class="col-md-1 col-sm-2">
         <md-button class="md-fab md-mini md-primary m-0" aria-label="add"
            template-url="/app/staff/views/create.html" form-modal
            m-title="Staff" m-scope="staffCtrl.mScope" form-submit="staffCtrl.saveOrUpdateStaff(mForm)" init-data="staffCtrl.initData" ok-button-text="SUBMIT">
            <md-icon class="material-icons">+</md-icon>
            <md-tooltip>Add Staff</md-tooltip>
         </md-button>
      </div>
   </div>
</div>
<div id="table-responsive" class="table-responsive content">
   <table id="staffDataTable" class="display table" cellspacing="0"></table>
</div>