<div class="card-header" data-ng-init="attendanceCorrectionCtrl.init()">
   <div class="row">
      <div class="col-sm-6">
         <div>
            <h2> Attendance Correction Requests<small class="hidden-xs">
                  <div class="grid-ellipsis ">Attendance Correction Requests</div>
               </small>
            </h2>
         </div>
      </div>
      <div class="col-sm-5">
         <md-input-container>
            <label>Search here</label>
            <input type="search" id="search" data-ng-model="search" data-ng-change="attendanceCorrectionCtrl.init()" autocomplete="off">
         </md-input-container>
      </div>
   </div>
</div>
<div id="table-responsive" class="table-responsive content">
   <table id="attendanceCorrectionDataTable" class="display table" cellspacing="0"></table>
</div>

<input type="hidden" id="modelForm" template-url="/app/attendanceCorrection/views/attendanceCorrectionUpdate.html" form-modal
            m-title="Attendance Correction" m-Scope="attendanceCorrectionCtrl.mScope" form-submit="attendanceCorrectionCtrl.updateAttendanceCorrectionRequest(mForm)" init-data="attendanceCorrectionCtrl.initData">
