<div class="row">
    <div class="col-sm-2 col-xs-6 pl-25rem">
        <div class="pl-3 mt-sm-2 mt-xs-2 p-xs-0"><a href="http://campinfo.in/" target="_blank"><img src="/assets/images/CI_logo_A.png" class="campinfo-logo offset-1"></a> </div>
    </div>
    <div class="col-sm-9 col-xs-4 my-3">
        <div class="footer-text text-right">Powered By</div>
    </div>
    <div class="col-sm-1 col-xs-2 my-2 p-0">
        <img src="/assets/images/SSB-Logo.png" style="max-height: 34px;">
    </div>
</div>