<div class="card-header" data-ng-init="holidayCtrl.init()">
   <div class="row">
      <div class="col-md-6 col-sm-6">
         <div>
            <h2>
               Holiday
               <small class="hidden-xs">
                  <div class="grid-ellipsis ">Holidays allocated for the academic year</div>
               </small>
            </h2>
         </div>
      </div>
      <div class="col-md-5 col-sm-4">
         <md-input-container>
            <label>Search here</label>
            <input type="search" id="search" data-ng-model="search" data-ng-change="holidayCtrl.init()" autocomplete="off">
         </md-input-container>
      </div>
      <div class="col-md-1 col-sm-2">
         <md-button class="md-fab md-mini md-primary" aria-label="add" 
            template-url="/app/holiday/views/create.html" form-modal
            m-title="Holiday" m-scope="holidayCtrl.mScope" form-submit="holidayCtrl.saveOrUpdateHoliday(mForm)" init-data="holidayCtrl.initData" ok-button-text="SUBMIT">
            <md-icon class="material-icons">+</md-icon>
            <md-tooltip>Add Holiday</md-tooltip>
         </md-button>
      </div>
   </div>
</div>
<div id="table-responsive" class="table-responsive content">
   <table id="holidayDataTable" class="display table" cellspacing="0"></table>
</div>
