<div class="card" data-ng-init="holidayCtrl.initCalendar()">
	<div id="calendar-card-header" class="card-header">
		<div class="row" style="margin-right: 20px;">
			<div class="col-sm-7">
				<div class="">
					<h2> My Calendar 
						<small class="hidden-xs">
							<div class="grid-ellipsis ">Holidays allocated for the academic year</div>
						</small>
					</h2>
				</div>
			</div>
			<div class="col-sm-5">
				<div class="row" style="font-size: small; text-align: right;">
					<span class="legend-holiday">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Holiday
					<span class="legend-event">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Events
					<span class="legend-exam">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Exam
				</div>
			</div>
		</div>
	</div>
	<div class="card-body content" style="height: 72vh;">
		<div class="" style="padding-left: 20px !important; padding-right: 20px !important;">
			<div id="calendar"></div>
		</div>
	</div>
</div>
