<md-dialog-content>
   <div class="md-dialog-content">
      <md-input-container class="align-center required-mark">
         <label>Category</label>
         <md-select name="category" data-ng-required="true" data-ng-model="mScope.mForm.category">
            <md-option value="Electronics">Electronics</md-option>
			<md-option value="StudyMaterials">Study Materials</md-option> 
			<md-option value="Automobile">Automobile</md-option> 
			<md-option value="Others">Others</md-option>
         </md-select>
          <div data-ng-messages="modelForm.category.$error" data-ng-if="modelForm.category.$touched || modelForm.$submitted">
               <div data-ng-message="required"><small>Category is required !</small></div>
           </div>
      </md-input-container>
      
      <md-input-container class="required-mark">
         <label>Title</label><input class="md-input" data-ng-model="mScope.mForm.title" name="title" data-ng-required="true" data-ng-minlength="5" data-ng-maxlength="50">
         <div data-ng-messages="modelForm.title.$error" data-ng-show="modelForm.title.$touched || modelForm.$submitted">
            <div data-ng-message="required"><small>Title is required !</small></div>
            <div data-ng-message="minlength"><small>Please enter minimum 5 characters</small></div>
            <div data-ng-message="maxlength"><small>Max 50 characters are allowed</small></div>
         </div>
      </md-input-container>
      
      <md-input-container class="required-mark">
         <label>Description</label><input class="md-input" data-ng-model="mScope.mForm.description" name="description" data-ng-required="true" data-ng-minlength="5" data-ng-maxlength="200" autocomplete="off">
         <div data-ng-messages="modelForm.description.$error" data-ng-show="modelForm.description.$touched || modelForm.$submitted">
			<div data-ng-message="required"><small>Description is required !</small></div>
			<div data-ng-message="minlength"><small>Please enter minimum 5 characters</small></div>
			<div data-ng-message="maxlength"><small>Maximum 200 characters are allowed</small></div>
		</div>
      </md-input-container>
      
      <md-input-container class="required-mark">
         <label>Contact Number</label><input class="md-input" data-ng-model="mScope.mForm.contactNumber" data-ng-required="true" data-numbers-only name="contactNumber" data-ng-maxlength="10" data-ng-minlength="10" autocomplete="off">
         <div data-ng-messages="modelForm.contactNumber.$error" data-ng-show="modelForm.contactNumber.$touched || modelForm.$submitted">
            <div data-ng-message="required"><small>Contact number is required !</small></div>
            <div data-ng-message="minlength"><small>Contact number is too short</small></div>
           <div data-ng-message="maxlength"><small>Contact number is too long</small></div>
         </div>
      </md-input-container>
      
      <div class="form-group row pl-0 required-mark">
         <label class="col-sm-2 col-xs-3">Picture</label>
         <div class="col-sm-6 col-xs-9" >
            <div class="fileUpload btn btn-danger" data-ng-if="!mScope.mForm.image[0].id">
				<span data-ng-if="!mScope.upload.fileName">BROWSE FILE</span><span data-ng-if="mScope.upload.fileName">CHANGE</span> <input type="file" id="fileInput" name="file" class="fileInput upload" data-ng-model="file" accept="image/*" data-ng-required="!mScope.upload.fileName" custom-on-change="mScope.readFile"/>
			</div>
			<div class="col-lg-8" data-ng-if="mScope.mForm.image[0].id">
				<img
					data-ng-src="{{mScope.mForm.image[0].path}}"
					title="Click to remove" data-ng-click="mScope.removeClassifiedImage(mScope.mForm.image[0])"
					width="60" height="60" />
			</div>
			 <span style="font-size:small">{{mScope.upload.fileName | limitTo : 10}}&nbsp&nbsp<a href="" class="close-file" data-ng-click="mScope.clearFile()" data-ng-if="mScope.upload.fileName">&times;</a><br></span>
           <div data-ng-messages="modelForm.file.$error" data-ng-show="modelForm.$submitted">
         <div data-ng-message="required">
            <small style="color: rgb(213,0,0);">Please Select a Photo !</small>
         </div>
      </div>
         </div>
         <span style="font-size:small" data-ng-if="mScope.upload.fileLength > 1"><strong>{{mScope.upload.fileLength - 1}}  more files</strong></span>
         <div class="col-sm-4"></div>
      </div>
      <div class="row fluid col-sm-12" style="padding-top: inherit;padding-left: initial;margin-left: -18px;">
         <label class="radio radio-inline m-r-20">Status</label> 
         <md-radio-group data-ng-model="mScope.mForm.status">
            <label class="radio radio-inline m-r-20">
               <md-radio-button value= "ACTIVE">Active</md-radio-button>
            </label>
            <label class="radio radio-inline m-r-20">
               <md-radio-button value="INACTIVE">InActive</md-radio-button>
            </label>
         </md-radio-group>
      </div>
   </div>
</md-dialog-content>